<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="newpost"><a href="/new">Add new message</a></div>
    <ul>
      <% messages.map((message) => { %>
      <li><strong>User: <%= message.username %></strong></li>
      <li>Message: <%= message.message %></li>
      <li id="date-added-home">Added: <%= message.dateadded %></li>
      <a href="/<%= message.user %>">Open</a>
      <hr />
      <% }) %>
    </ul>
  </body>
</html>
